*{
    margin: 0;
    padding: 0;
}

.event-container{
    display: grid;
    grid-template-areas:
    'i i'
    'a b'
    'c d'
    'e f'
    'g h';
    grid-template-rows: repeat(4 1fr);
    grid-template-columns: 1f 1fr;
}
.griditema{
    grid-area: b;
    margin-left: 20%;

}
.griditemb{
    grid-area: c;
    padding-left: 10%;
}
.griditemc{
    grid-area: f;
    margin-left: 20%;
}
.griditemd{
    grid-area: g;
    padding-left: 10%;
}
.griditeme{
    grid-area: a;
    font-size: 22pt;
    font-weight: 300;
    color: #F7D330;
    padding: 10rem 2rem;
}
.griditemf{
    grid-area: d;
    font-size: 22pt;
    font-weight: 300;
    color: #F7D330;
    padding: 10rem 2rem;
}
.griditemg{
    grid-area: e;
    font-size: 22pt;
    font-weight: 300;
    color: #F7D330;
    padding: 10rem 2rem;
}
.griditemh{
    grid-area: h;
    font-size: 22pt;
    font-weight: 300;
    color: #F7D330;
    padding: 10rem 2rem;
}
.event-container img{
    height: 450px;
    width: 550px;

}
.griditemi{
    color: #F7D330;
    height: 5rem;
    font-size: 28pt;
    padding: 2rem 1rem;
}
.event-container h3{
    color: #3AA3A0;
    padding: 1rem 0;
    font-weight: 800;
}